.formWrapper {
    width: 500px;
    height: 200px;
    flex-shrink: 0;
    z-index: 7;
    border-radius: 6px;
    background-color: #FFF;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 48%;
    top: 50%;
    margin : auto;
}



.form-heading {
    padding: 20px 30px;
    font-size: 1.2rem;
}

.form-main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 35px;
}


.group-input {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.group-input-box {
    border: 2px solid #ccc;
    border-radius: 20px;
    text-indent: 10px;
    width: 300px;
    height: 30px;
}

.submit-button {
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 5px 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}



.color-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #B38BFA;
}


@media (max-width : 900px) {
    .formWrapper {
       

        width: 350px;
        margin :auto;
        font-size: 0.9rem;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);

    }

    .font-heading {
        font-size: 1rem;
    }

    .group-input-box {
        width: 200px;
    }
}

@media (max-width : 500px) {
    .formWrapper {
        /* left: 5%; */
        width: 350px;
        margin :auto;
        font-size: 1rem;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
    }

    

    .group-input-box {
        width: 160px;
     
    }
    .group-input-box::placeholder{
        font-size: 0.7rem;
    }
    .color-circle{
        height: 15px;
        width: 15px;
    }

  .submit-button{
    left : 50%;
    bottom : 1%;
    transform: translate(-50%,-50%);
    padding : 5px 20px;
  }
   
}
